@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  box-sizing: border-box;
}

.App {
  max-width: 1440px;
  width: 100%;
  margin: 10px auto;
}

.material-icons {
  color: rgb(197, 194, 194);
  font-size: 50px;
  cursor: pointer;
  transition: all .3s;
}

.material-icons:hover {
  color: black;
}

.icon-switch {
  text-align: right;
}


.shopitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(197, 194, 194);
  padding: 20px;
  margin-bottom: 5px;
}

.shopitem__img img {
  max-height: 90px;
}

.shopitem__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.shopitem__price {
  color: red;
}

.shopitem__btn {
  background-color: #fff;
  border-radius: 15px;
  border-color: red;
  color: red;
  padding: 10px 15px;
  cursor: pointer;
}

.cardsview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shopcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% /3 - 30px);
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 40px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.shopcard__header {
  text-align: center;
  margin-bottom: 10px;
}

.shopcard__footer {
  display: flex;
  align-items: center;
}

.shopcard__img img {
  max-height: 140px;
}

.shopcard__title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.shopcard__price {
  color: red;
  margin-right: 20px;
}

.shopcard__btn {
  background-color: #fff;
  border-radius: 15px;
  border-color: red;
  color: red;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 20px;
}